[class*="__container"] {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 920px;
}

[class*="__container-big"] {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1220px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4rem;
    color: $black-c;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Roboto-Condensed", sans-serif;
}

.header {
    padding-top: 2.5rem;
    position: absolute;
    background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
    left: 0;
    right: 0;
    &__nav {
        display: flex;
        color: $dark-gray-c;
        font-size: 1.6rem;
        justify-content: space-between;
    }
}
.menu {
    display: flex;
    padding-top: 2.5rem;
    &_left {
        padding-left: 2.5rem;
    }

    &_right {
        padding-right: 8rem;
    }

    &__item + &__item {
        margin-left: 4rem;
    }

    &__link {
    }
}
.logo {
    &__img {
    }
}

.promo {
    background-image: url("../img/promo/promo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__inner {
        min-height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 10rem;
    }

    &__title {
        font-family: "impact", sans-serif;
        font-size: 7.6rem;
        letter-spacing: 0.08em;
        margin-bottom: 1rem;
        margin-left: 2rem;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: "impact", sans-serif;
        font-size: 4.8rem;
        border-bottom: 1px solid $black-c;
        align-self: center;
        span {
            color: $dark-gold-c;
            padding-bottom: 1rem 0;
            font-size: 3.4rem;
            display: block;
        }
    }

    &__text {
        font-size: 1.6em;
        color: $dark-gray-c;
        margin-bottom: 1rem;
    }
    &__arrow {
        margin-top: auto;
        margin-bottom: 3rem;
        align-self: center;
        animation-name: arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

.info {
    padding: 10rem 0;
    &__part {
    }
    &__part {
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
    }
    &__part_first {
        display: block;
    }
    &__part_second {
        .info__text {
            max-width: 35.2rem;
        }
    }
    &__part_third {
        padding-top: 6.6rem;
        .info__text {
            max-width: 37.7rem;
        }
    }
    &__part:first-child {
        padding-top: 0;
    }
    &__title {
        margin-bottom: 3rem;
    }

    &__text-box {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        flex-basis: 44rem;
        margin-bottom: 3rem;
    }
    &__text:not(:last-child) {
        margin-right: 2rem;
    }

    &__content {
        flex-basis: 41.5rem;
    }

    &__table {
        flex-basis: 45rem;
        position: relative;
        border-bottom: 1px solid $black-c;
        top: 2.1rem;
        td {
            padding-bottom: 2rem;
        }
    }

    &__table::before {
        content: "";
        position: absolute;
        border-top: 1px solid $black-c;
        width: 100%;
        top: -2rem;
    }
}

.track {
    padding: 4.7rem 0 9rem;
    background-image: url("../img/track/track-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
        margin-bottom: 3rem;
    }

    &__text {
        max-width: 43.5rem;
    }

    &__img {
        display: block;
        margin: 20rem auto 0;
    }
}

.evo {
    font-size: 1.4rem;
    padding-bottom: 5rem;
}

.evo-black {
    background-color: $dark-gray-c;
    padding: 10rem 0 5rem;
    color: $white-c;
    &__inner {
        position: relative;
    }
    &__inner::before {
        content: "";
        position: absolute;
        background-image: url("../img/evo/dec-1.svg");
        width: 185px;
        height: 215px;
        top: 200px;
        left: -180px;
        background-repeat: no-repeat;
    }
    &__inner::after {
        content: "";
        position: absolute;
        background-image: url("../img/evo/dec-2.svg");
        width: 610px;
        background-repeat: no-repeat;
        height: 560px;
        top: 280px;
        left: -83px;
        z-index: 1;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-right: 5rem;
    }

    &__box {
        flex-basis: 43.7rem;
    }
    &__descr:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__image {
        display: block;
        margin: 20rem auto 6rem;
        z-index: 2;
        position: relative;
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;
        dd {
            text-transform: uppercase;
        }
    }

    &__column + &__column {
        margin-left: 6.5rem;
    }
}
.evo-white {
    &__inner {
        position: relative;
        padding-top: 12.6rem;
    }
    &__inner::before {
        content: "";
        position: absolute;
        background-image: url("../img/evo/dec-3.png");
        width: 300px;
        height: 250px;
        top: -20px;
        right: 270px;
        background-repeat: no-repeat;
    }
    &__inner::after {
        content: "";
        position: absolute;
        background-image: url("../img/evo/dec-4.png");
        width: 350px;
        height: 300px;
        top: 110px;
        right: 0px;
        background-repeat: no-repeat;
    }

    &__text {
        margin-bottom: 3rem;
    }
    &__text:nth-child(1) {
        max-width: 28.5rem;
    }
    &__text:nth-child(2) {
        max-width: 43.7rem;
    }
    &__text:nth-child(3) {
        max-width: 59rem;
    }

    &__video {
        margin-top: 10rem;
        background: url("../img/evo/evo-video.png") no-repeat center/ cover;
        height: 265px;
        display: flex;
        align-items: center;
        color: $white-c;
        text-align: center;
        justify-content: center;
    }

    &__play-btn {
    }

    &__play-img {
    }

    &__online {
        display: block;
    }
}

.blog {
    padding: 5rem 0;

    &__title {
        margin-bottom: 3rem;
    }
}

.blog-slider {
    &__inner {
        margin: 0 auto;
        padding-top: 5rem;
        margin-bottom: 10rem;
    }

    &__img {
        margin-bottom: 2rem;
    }

    &__title {
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__text {
        max-width: 44rem;
        margin-bottom: 1rem;
    }
    &__item .slick-slide {
        width: 460px !important;
    }

    &__more {
        font-weight: 400;
        font-size: 1.2rem;
        color: $dark-gray-c;
    }
}

.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider-btn {
    position: absolute;
    z-index: 2;
    top: 0;
}

.slider-prev {
    left: 410px;
}
.slider-next {
    right: 410px;
}

.slick-slide {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}

.blog-quotes {
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    &__box {
        flex-basis: 44rem;
        max-width: 43.4rem;
    }

    &__blockquote {
    }

    &__img {
        width: 438px;
    }
}
.blockquote {
    &__status {
        color: $dark-gold-c;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

    &__name {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    &__descr {
        font-style: italic;
    }
}

.blockquote:not(:last-child) {
    margin-bottom: 3rem;
}

.footer {
    padding: 8rem 0;
    background-color: $dark-gray-c;
    color: $white-c;
    min-height: 100vh;
    &__title {
        font-weight: 300;
        font-size: 3.2rem;
        text-transform: uppercase;
        margin-bottom: 5rem;
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;
    gap: 2rem;
    &__content {
    }
    &__map {
        height: 25rem;
        width: 100%;
    }

    &__info {
    }

    &__item {
        margin-bottom: 5rem;
    }

    &__title {
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__link {
        display: block;
    }
    &__link:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__social {
    }

    &__address {
    }

    &__text {
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-style: normal;
    }
}
.social {
    display: flex;
    &__item:not(:last-child) {
        margin-right: 2rem;
    }

    &__link {
    }

    &__img {
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__designer {
    }

    &__logo {
    }

    &__img {
    }

    &__policy {
    }
}


.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
    background-color: #fff;
    padding: 2rem;
    &__title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}

.form-popup {
    &__input {
        width: 100%;
        margin-bottom: 2rem;
        height: 4rem;
        padding: 1rem 1.5rem;
    }
    &__btn {
        width: 100%;
        background-color: $dark-gold-c;
        padding: 1rem;
        cursor: pointer;
        border: none;
        color: $white-c;
        text-transform: uppercase;
        
    }
}

.no-scroll {
    overflow:hidden;

}